<!--
  Note:
  No defaultHref is provided, since this is considered the "root" page, otherwise it would be REQURED for the ion-back-button to appear at all
  So out-of-the-box functionality is broken when using a shared header component
-->
<app-header color="primary" title="home"></app-header>

<!-- Comment out app-header, and uncomment below (on both home and test pages) to see "normal" functionality -->
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-button [routerLink]="['test']">Test Page</ion-button>
</ion-content>
